body {
  padding:10px;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  font-size:85%;
  background:black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: .8;
  z-index: 2;
  padding: 0px;
}

nav ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left:0;
  float:right;
}

nav li {
  display:inline;
  color:white;
  margin-right:10px;
  margin-top:-10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration:none;
  color: blue;
}

header {
  margin-top:60px;
}

.fa-stack-overflow {
  color:orange; 
  float:left; 
  margin-top:5px;
  margin-right:5px;
  font-size: 180%
}

h1, h2, h3 {
  font-weight:lighter;
}

h1 {
  color:black;
}

.login {
  width: 160px;
  height:90px;
  padding:15px;
}

.register{
  width: 160px;
  height:90px;
  padding:15px;
  position: absolute;
  top: 70px;
  right: 50px;
/*border:2px solid gray;
border-radius:5px;*/
}

.register input, .login input {
  padding:4px;
  width: 150px;
  border-radius:3px;
  margin-bottom:7px;
  border:none;
  border-bottom: 1px solid gray;
}

.register input[type='submit'] {
  float:right;
  width:100%;
/*  background:blue;
  border:none;
  color:white;*/
}

.styled-button {
  border: none;
  border-radius:3px;
  padding:5px;
  color:black;
}

.page-container {
  min-height:500px;
}

.question-container{
  border-top:1px dotted gray;
}

article {
  margin:auto;
  clear:both;
}

.vote-count, .points {
  font-size:140%;
  margin-top:20px;
  width:30px;
  height:30px;
  background-color:coral;
  color:white;
  float:left;
  text-align:center;
  margin-right:15px;
  border-radius:3px;
}

.points {
  display:block;
  margin:0;
}

.question-detail, .answer-detail {
  width:90%;
  float:left;
}

.question-clear {
  clear:both;
}

.comment-detail {
  border-left: 1px solid gray;
  font-size:90%;
  font-style: italic;
  margin-left:60px;
  padding-left:10px;
}

.description {
  margin-left:10px;
}

.user_timestamp_container {
  text-align: right;
}

.sidebar {
  float:left;
  text-align:center;
  width:30px;
  height:30px;
  padding-right:20px;
}

.sidebar button {
background:white;
  /*font-size:70%;*/
  border:none;
/*  color:gray;*/
}

.best-answer {
/*  display:inline;*/
}

footer {
  clear:both;
  border-top:1px dotted gray;
  text-align:right;
}