body {
  background-color: #ddd;
  padding:20px;
  font-family: 'Ubuntu', sans-serif;
  min-width: 860px;
}

/* NAVIGATION */

nav {
  font-size:85%;
  height: 50px;
  background:black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: .8;
  z-index: 2;
  padding: 0px;
}

nav ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left:0;
  padding-top: 5px;
  float:right;
}

nav li {
  display:inline;
  color:white;
  margin-right:10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration:none;
  color: #477bfd;
}

.fa-stack-overflow {
  color: coral;
  float: left;
  margin: 13px 10px 13px 10px;
  font-size: 180%;
}

h1, h2, h3 {
  font-weight:lighter;
}

h1 {
  color: black;
}

h1.header {
  display: inline-block;
  margin: 10px 5px 10px 0px;
  color: white;
}

/* HEADER */

header {
  background-color: #ddd;
  margin-top:50px;
  height:130px;
}

header h2 {
  margin-top: 95px;
  margin-right: 10px;
  margin-bottom: 0px;
  z-index: 1;
}

h2.log-in {
  text-align: center;
}

header h3 {
  margin-top: 25px;
  margin-left: 10px;
  font-size: 1.2em;
  position: absolute;
  min-width: 700px;
}

span.wild {
  font-size: 1.5em;
  font-weight: 20;
  color: coral;
}

.login {
  margin: 0 auto;
  width: 160px;
  height:90px;
  padding:15px;
}

.register{
  float:right;
  width: 160px;
  height:90px;
  padding:15px;
  top: 70px;
  right: 50px;
/*border:2px solid gray;
border-radius:5px;*/
}

.register input, .login input {
  padding:4px;
  width: 150px;
  border-radius:3px;
  margin-bottom:7px;
  border:none;
  border-bottom: 1px solid gray;
}

.register input[type='submit'], .login input[type='submit'] {
  float:left;
  width:99%;
  background: darkgray;
  color: white;
/*  border:none;
  color:white;*/
}

.styled-button {
  border: none;
  border-radius:3px;
  padding: 5px;
  color:black;
}

.ask-question-button {
  color:white;
  background: darkgray;
  float:left;
  margin: 95px 10px 0px 10px;
}

.ask-question-button a {
  color:white;
}

.tag-button {
  color: gray;
  background: white;
  float: left;
  margin: 95px 10px 0px 10px;
  height: 24px;
  padding: 5px 10px 5px 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.active {
  border: 1px solid gray;
  border-bottom: 1px solid white;
}

/* BODY */

.page-container {
  min-height:500px;
  margin-top: 50px;
  padding-bottom:40px;
}

.question-container{
  border-top: 1px solid gray;
  background-color: white;
}

.page {
  overflow: hidden;
}

.article {
  padding-left: 10px;
  overflow: hidden;
  margin:auto;
  clear:both;
  background-color: white;
  border-bottom: 1px dashed #ddd;
}

p.vote {
  font-size: 70%;
  margin: 0;
  padding: 5px 0 0 0;
}

.count, .points {
  font-size:140%;
  margin-top:20px;
  width:60px;
  height:60px;
  color:white;
  float:left;
  text-align:center;
  margin-right:15px;
  border-radius:3px;
}

.vote-count {
  background-color:coral;
}

.view-count {
  background-color:lightblue;
}

.answer-count {
  background-color: lightgray;

}

.count p {
  margin: 0;
  padding: 5px 0 0 0;
}

p.count-p {
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 50%;
}

.points {
  width: 40px;
  height: 30px;
  background-color: white;
  color: coral;
  display:block;
  margin: 5px 0 0 0;
}

.answered-flag {
  color: #d677d1;
  font-size: 80%;
  margin: 0;
  padding: 0;
  display: inline;
}

.question-detail, .answer-detail {
  width: 73%;
  float:left;
}

.answer-detail {
  background:white;
  padding:10px;
  width:85%;
  border-radius:3px;
  border-bottom: 1px solid #ddd;
}

.float-clear {
  clear:both;
}

.comment-detail {
  border-left: 1px solid gray;
  font-size:90%;
  font-style: italic;
  margin-left:40px;
  padding-left:10px;
}

.description {
  margin-left:10px;
}

.user_timestamp_container {
  text-align: right;
  font-style:italic;
  color: darkgray;
  margin-bottom: 5px;
}

.sidebar {
  float:left;
  text-align:center;
  width:40px;
  height:30px;
  padding-right:20px;
  margin-top: 5px;
}

.sidebar button {
background:white;
  /*font-size:70%;*/
  border:none;
/*  color:gray;*/
}

.best-answer {
  color:forestgreen;
  font-size:150%;
  padding-top:20px;
  padding-left: 15px;
/*  display:inline;*/
}
.buttongroup {
  margin-left:30px;
  width:90%;
}
#best_answer_button {
  margin-top:10px;
  color:white;
  background:coral;
  float:right;
}

.vote-button-container {
  width:20px;
  float:left;
  margin-top:-3px;
  margin-right:20px;
}

.vote-button-container-answer {
  margin-top: 5px;
}

.vote-button-container #upvote,
.vote-button-container #downvote {
  font-size:50%;
  background:none;
  border:none;
}

.points-small {
  font-size:90%;
  background:white;
  margin-left:0px;
  border-radius:3px;
  padding:2px 7px 5px 7px;
  font-style:normal;
}

.answer-text-box {
  margin-top:20px;
  margin-left:60px;
  margin-bottom: 20px;
  width:500px;
}

footer {
  clear:both;
  border-top: 1px solid gray;
  text-align:right;
  padding-top:10px;
}

#new-question {
  padding:15px;
}

#new-question label {
  color:white;
  background: darkgray;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
}

#new-question input {
  width: 600px;
  height: 25px;
  margin-bottom:10px;
  margin-left:10px;
  border: 1px solid black;
}

textarea.new-description {
  width: 660px;
  height: 250px;
  border: 1px solid black;
  margin-bottom: 10px
}

button.submit {
  width: 667px;
  height: 50px;
  color:white;
  background: darkgray;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
}

h3.question-title {
  padding-bottom: 10px;
  border-bottom: 2px solid lightgray;
}

.time-answer {
  font-size: 90%;
  color: black;
}

p.comment-a {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 10px;
}

table, th, td {
  padding: 3px;
  border: 1px solid black;
}

th {
  background-color: black;
  color: white;
  width: 150px;
  text-align: left;
}

th.normal {
  background-color: white;
  color: black;
}

table.profile {
  width: 860px;
  margin-bottom: 20px;
}

form.inside-comment-q, form.inside-comment-a {
  margin-top: 5px;
}

form.inside-comment-q textarea, form.inside-comment-a textarea {
  width: 300px;
  height: 100px;
}

form.inside-comment-q button, form.inside-comment-a button {
  width: 308px;
  height: 30px;
}

.hidden {
  display: none;
}

.upvoted {
  color: green;
}

.downvoted {
  color: red;
}
