<h1>Comment</h1>
<form method='post' action="/<%= @content_type %>/<%= @content_id %>/comment">
  <textarea name='description' cols='50' rows='5' placeholder="Your comment..."></textarea>
  <button>submit</button>
</form>
