<h1>Ask a new question</h1>
<form method='post' action='/questions/new'>
  <label for='title'>title of question</label>
  <input id='title' type='text' name='title'>
  <br>
  <label for='description'>description for question</label>
  <input id='description' type='text' name='description'>
  <button>submit</button>
</form>
