<h2>Ask Question</h2>
<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>
<form id="new-question" method='post' action='/questions/new'>

  <label for='title'>Title:</label>
  <input id='title' type='text' name='title'><br>
  <textarea id='description' type='text' name='description' cols='50' rows='5' placeholder="Ask away!"></textarea><br>
  <button class="styled-button">submit</button>
</form>

