<h2>Ask a new question</h2>
<form method='post' action='/questions/new'>

  <input id='title' type='text' name='title' placeholder="Title">
  <br>
  <textarea id='description' type='text' name='description' cols='50' rows='5' placeholder="Ask away!"></textarea>
  <button class="styled-button">submit</button>
</form>
