<h2>New Comment</h2>
<form method='post' action="/<%= @content_type %>/<%= @content_id %>/comment">
  <textarea class="new-description" name='description' placeholder="Your comment..."></textarea>
  <button class="styled-button submit">submit</button>
</form>
