<!-- This is just a placeholder for testing until the layout is complete (which this can then be added to) -->
<p>Sign up below or <a href="/login">Login</a></p>

<div class="register">	
	<form action="/register" method="post">
		<input type="text" name="user[user_name]" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="Register">
	</form>
</div>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>