<p>
<%if !session[:user_id]%>
  <div class="register">
    <form action="/register" method="post">
      <input type="text" name="user[user_name]" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Register" class="blue-button">
    </form>
  </div>
<%end%>
</p>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% else %>

  <h2 style = "float:left">Questions:</h2>
  <button class = "styled-button ask-question-button"><a href="/questions/new">Ask a Question</a></button>
  <div class="float-clear"></div>

  <% @questions_sorted_by_votes = (@questions.sort_by { |question| question.vote_count }).reverse! %>

  <div class='question-container'>
    <% @questions_sorted_by_votes.each_with_index do |iteration_question, i| %>
      <%= erb(:_question_template, locals: {question: iteration_question, i: i}) %>
    <% end %>
  </div>
<% end %>
