<header>
  <%if !session[:user_id]%>
    <div class="register">
      <form action="/register" method="post">
        <input type="text" name="user[user_name]" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Register" class="blue-button">
      </form>
    </div>
  <%end%>

  <h3 style = "float: left">Find answers to your most <span class="wild">wild</span> programming questions</h3>

  <h2 style = "float:left">Questions:</h2>
  <button class = "styled-button ask-question-button"><a href="/questions/new">Ask a Question</a></button>

  <a class = "styled-button tag-button active" href="/questions?order=vote">Most Voted</a>
  <a class = "styled-button tag-button" href="/questions?order=date">Newest</a>
  <a class = "styled-button tag-button" href="/questions?order=view">Hottest</a>
  <div class="float-clear"></div>
</header>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% else %>
  <div class='question-container'>
    <%= erb :questions, layout: false %>
  </div>
<% end %>
