<h2>Questions:</h2>
<p><a href="#">Ask a Question</a></p>

<div class='question-container'>

  <% @questions.each_with_index do |iteration_question, i| %>
    <%= erb(:_question, locals: {question: iteration_question, i: i}) %>
  <% end %>
</div>