<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>DBC Overflow</title>
</head>
<body>
  <nav>
    <ul>
      <% if !session[:user_id] %>
        <li><a href="/login">Log In</a></li>
      <% else %>
        <li>
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </li>
        <li>
          <a href="/profile"><%= User.find(session[:user_id]).user_name %></a>
        </li>
        <li><a href="/logout">Log Out</a></li>
      <% end %>
    </ul>
  </nav>
  <header>
    <a href="/">
      <i class="fa fa-stack-overflow" aria-hidden="true"></i>
      <h1>dbc <strong>overflow</strong></h1>
    </a>
  </header>
  <div class = "page-container">
    <%= yield %>
  </div>
  <footer>Some Text Here | More Text | Even More Text</footer>
</body>
</html>
