<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans" rel="stylesheet">
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>DBC Overflow</title>
</head>
<body>
  <nav>
    <ul>
      <% if !session[:user_id] %>
        <li><a href="/login">Log In</a></li>
      <% else %>
        <li>(username goes here)</li>
      <% end %>
    </ul>
  </nav>
  <header>
    <h1>DBC Overflow</h1>
  </header>
  <div class = "page-container">
    <%= yield %>
  </div>
  <footer>Some Text Here | More Text | Even More Text</footer>
</body>
</html>
