<h2>My Questions</h2>

<% @user.questions.each do |question| %>
	<table class="profile">
		<tr>
			<th>Title</th>
		</tr>
		<tr>
			<td><a href="/questions/<%= question.id %>"><%= question.title %></a></td>
		</tr>
		<tr>
			<th>Content</th>
		</tr>
		<tr>
			<td><%= question.description %></td>
		</tr>
		<tr>
			<th>Answered By</th>
		</tr>
		<tr>
			<td>
				<% if question.best_answer %>
					<%= User.find_by_id(question.best_answer.user_id).user_name%>
				<% else %>
					No best answer has been selected yet
				<% end %>
			</td>
		</tr>
	</table>
<% end %>
