<h3>My Questions</h3>

<main role="main">
	<ul class="question-list">
		<% @user.questions.each do |question| %>
			<li class="question-item">
				<p class="entry-stub"><%= stub(question.description) %></p>
				<!-- the uri/route below has not been created yet -->
				<a href="/questions/<%= question.id %>" class="question-title"><%= question.title %></a>
					<% question.answers.each do |answer| %>
						<% if answer.best_answer == 1 %>
							<span class="best-answered-by"><%="Top answer by #{User.find(answer.user_id).user_name}"%></span>
						<% end %>
					<% end %>
			</li>
		<% end %>
	</ul>
</main>